.overview {
  display: inline-block;
  height: 800px;
  width: 100%;
  min-width: 800px;
  max-width: 1000px;
  border: solid black 3px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.imagegallery {
  float: left;
  width: 49%;
  height: 100%;
  align-items: center;
  text-align: center;
}

.imageGalleryModal {
  z-index: 100;
  height: 800px;
  width: 100%;
  min-width: 800px;
  max-width: 1000px;
  position: absolute;
  background-color: white;
  border: solid white 2px;
  overflow: scroll;
  text-align: right;
}

.mainImageContainer {
  width: 100%;
  height: 70%;
  overflow: scroll;
}

.imageGalleryPrev {
  background-color: white;
  color: black;
  float: left;
  margin: 10px;
  width: 20px;
  height: 25px;
  border-radius: 25px;
  padding: 3px 9px 3px 0;
}
.imageGalleryPrev:hover {
  cursor: pointer;
  opacity: 60%;
}

.imageGalleryNext {
  background-color: white;
  color: black;
  float: right;
  margin: 10px;
  width: 20px;
  height: 25px;
  border-radius: 25px;
  padding: 3px 0 3px 9px;
}
.imageGalleryNext:hover {
  cursor: pointer;
  opacity: 60%;
}

.currentImage {
  margin: auto;
  width: 100%;
  overflow: scroll;
}

.thumbnailView {
  z-index: 150;
  min-width: 390px;
  max-width: 480px;
  width: 48%;
  min-height: 40px;
  max-height: 80px;
  height: 15%;
  margin-top: 5px;
  margin-bottom: 5px;
  float: center;
  position: absolute;
}

.carousel {
  min-height: 40px;
  max-height: 80px;
  height: 11%;
  min-width: 40px;
  max-width: 80px;
  width: 11%;
  float: left;
  margin: auto 0.8%;
}
.carousel:hover {
  cursor: pointer;
  opacity: 60%;
}

.carousel img {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.closeImageGalleryModal {
  margin-bottom: 1%;
}
.closeImageGalleryModal:hover {
  cursor: pointer;
  opacity: 60%;
}

.right {
  float: right;
  width: 49%;
  height: 100%;
}

.productDetails {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}

.productDetails h2 {
  font-weight: normal;
  font-size: 20px;
  text-decoration: underline;
}

#overview {
  width: 100%;
}

#rating {
  font-size: 15px;
  overflow: scroll;
}

.starRating {
  float: left;
  width: 40%;
  margin-bottom: 5px;
  margin-top: 1px;
  text-align: right;
  color: goldenrod;
}

.totalRatings {
  float: right;
  width: 55%;
  margin-top: 1.5%;
  text-align: left;
  text-decoration: underline;
}
.totalRatings:hover {
  cursor: pointer;
  opacity: 60%;
}

#nonPrice {
  color: red;
  text-decoration: line-through;
  float: left;
  text-align: right;
  font-size: 20px;
  width: 48%;
  height: 100%;
}

#price {
  font-size: 20px;
}

#salesPrice {
  float: right;
  text-align: left;
  font-size: 20px;
  width: 48%;
  height: 100%;
}

.saleOutlay {
  height: 15%;
}

.share {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: auto 3%;
}

.styleSelector {
  float: center;
  width: 90%;
  text-align: left;
  height: 45%;
  margin-left: 12%;
}

.currentStyleSelector {
  margin-left: 25%;
  font-weight: bold;
}

.styleOption {
  float: left;
  text-align: center;
  align-items: center;
  font-style: italic;
  height: 80px;
  width: 80px;
  margin-right: 2.3%;
  margin-bottom: 3%;
}

.styleOption:hover {
  cursor: pointer;
  opacity: 60%;
}

#styleOverlay {
  margin-left: 15px;
  margin-top: 10px;
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 2;
}

.styleOption img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 1;
}

.addToCart {
  float: right;
  text-align: center;
  margin: 5px;
  width: 100%;
  height: 10%;
}

.outOfStock {
  float: right;
  text-align: center;
  margin: 5px;
  width: 500px;
  height: 50px;
}

.sizeOptions {
  margin: 5px;
}
.sizeOptions:hover {
  cursor: pointer;
  opacity: 60%;
}

.amountOption {
  margin: 5px;
}
.amountOptions:hover {
  cursor: pointer;
  opacity: 60%;
}

.cartButton {
  margin: 5px;
}
.cartButton:hover {
  cursor: pointer;
  opacity: 60%;
}

.sizeAlert {
  color: red;
}